@import "../../shared/styles/variables.scss";

.auth {
  width: 100%;
  padding: 2.5rem;
  display: flex;

  &__form-wrapper {
    max-width: 45rem;
    width: 100%;
    margin: auto;

    background-color: $white-bg;
    border-radius: 2.5rem;
    box-shadow: 0 0.8rem 1.5rem rgba($color: $darkblack-bg, $alpha: 0.3);
  }

  &__tabs {
    display: flex;
    border-bottom: 0.2rem solid $lightgrey-border;
    margin-bottom: 3.5rem;
  }

  &__tab {
    width: 50%;
    border: none;
    background-color: $transperent-bg;
    font-family: $font;
    font-weight: 700;
    font-size: 1.8rem;
    padding: 2rem 3.5rem;
    outline: none;
    position: relative;
    cursor: pointer;
    color: $grey-text;
    transition: color 200ms ease;

    &::before {
      content: "";
      bottom: -0.2rem;
      left: 0;
      width: 100%;
      height: 0.2rem;
      position: absolute;
      background-color: $transperent-bg;
      transition: background-color 200ms ease;
    }

    &:hover {
      &::before {
        background-color: lighten($color: $blue-border, $amount: 10%);
      }
    }

    &--active {
      cursor: default;
      color: $black-text;

      &:hover {
        &::before {
          background-color: $blue-border;
        }
      }

      &::before {
        background-color: $blue-border;
      }
    }
  }

  &__form {
    padding: 0 3.5rem 3.5rem;
  }

  &__field-wrapper {
    margin-bottom: 3.5rem;
  }

  &__input-wrapper {
    max-width: 100%;
  }

  &__input {
    width: 100%;
  }

  &__btn {
    margin: 0 auto;
  }

  &__error {
    margin-top: 0.5rem;
    color: $red-text;
    font-size: 1.4rem;
  }

  &__validation_error {
    border-color: red;
  }
}
