@import "../../styles/variables.scss";

.input-wrapper {
  position: relative;
  max-width: max-content;

  &__label {
    color: $grey-text;
    cursor: text;
    position: absolute;
    top: calc(50% - 1.6rem / 2);
    left: 1rem;
    transition: top 400ms ease, left 400ms ease, font-size 400ms ease;

    &--top {
      top: -1.2rem;
      left: 0;
      font-size: 1.2rem;
    }
  }

  &__input {
    display: block;
    min-width: 30rem;
    outline: none;
    background-color: $transperent-bg;
    border: none;
    border-bottom: 0.2rem solid $grey-border;
    padding: 1rem;
    font-family: $font;
    font-size: 1.6rem;
    transition: border-color 200ms ease;

    &:focus {
      border-color: $orange-border;
    }
  }
}
