@import "../../styles/variables.scss";

.navbar {
  &__list {
    display: flex;
  }

  &__list-item {
    margin-right: 2.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: $grey-text;
    cursor: pointer;
    text-decoration: underline transparent;

    transition: color 200ms ease, text-decoration 200ms ease;

    &--active,
    &:hover {
      color: $orange-text;
      text-decoration: underline $orange-text;
    }

    &:focus {
      outline: 0.2rem solid rgba($color: $orange-border, $alpha: 0.6);
      outline-offset: 0.3rem;
    }
  }
}
